fieldset{

    margin-left: 500px;
}
h1{
    margin-left: 500px;
}
#tabs{
    margin-left: 500px;
}
#PizzaSize{
    width: 250px;
    height: 80px;
    color: crimson;
}
#CrustType{
    width: 250px;
    height: 80px;
    color: orange;
}
#Meats{
    width: 250px;
    height: 80px;
    color: saddlebrown;
}
#Veggies{
    width: 250px;
    height: 80px;
    color: lightgreen;
}
#DeliveryInfo{
    margin-left: 500px;
    width: 260px;
    height: 125px;
}
#DeliveryInfo input{
    float: right;

}
html{
    color: white;
    background-image: url("pizza-4952509_1280.jpg");

}
#OrderInfo{


    width: 400px;
}
#OICrust{
    color: orange;
}
#OIMeats{
    color:saddlebrown;
}
#OIVeggies{
    color: lightgreen;
}
#OISize{
    color: crimson;
}
#CIAddress, #CIName,#CIPhone{
    color: gray;
}
